In [1]:
import pandas as pd
import markdown
import re
from typing import Dict, Optional, List

#def process_markdown_table(markdown_file_path):
#"""
#Convert markdown table to pandas DataFrame
#"""
markdown_file_path = "saved_md_files/0d472df2-2aea-4c2a-8ebe-ad04b21e5db7_10.md"
# 1. Load the markdown file content
with open(markdown_file_path, 'r') as f:
    text = f.read()
# 2. Convert text to HTML (ensure 'tables' extension is included)
html = markdown.markdown(text, extensions=['tables'])
# 3. Parse HTML with Pandas
# read_html returns a list of DataFrames, so we take the first one
df = pd.read_html(html)[0]
print(df)

   Sr.No.                                        Particulars   Quarter ended  \
0     NaN                                                NaN       30-Sep-25
1     NaN                                                NaN       Unaudited
2       1                                             Income             NaN
3      a)                            Revenue from Operations         5333.09
4      b)                                       Other Income         1248.89
5     NaN                                   **Total Income**    **6,601.98**
6       2                                           Expenses             NaN
7      a)                         Cost of Materials Consumed           75.65
8      b)                         Purchase of stock-in-trade            0.10
9      c)  Changes in inventories of finished goods & goo...         1041.62
10     d)                       Real estate service expenses          955.93
11     e)                          Employee benefits expense          109.18
12     f)                                      Finance Costs         2642.30
13     g)                Depreciation & amortization expense          472.11
14     h)                                     Other expenses          929.40
15    NaN                                 **Total Expenses**    **6,226.29**
16      3  Profit for the period/ year before share of pr...          375.69
17      4  Share of profit of equity accounted investees ...           16.66
18      5             Profit before tax for the period/ year          392.35
19      6                                        Tax Expense             NaN
20     a)                                        Current tax         (47.77)
21     b)                                       Deferred tax               -
22     c)                   Tax adjustment for earlier years               -
23    NaN                              **Total tax expense**     **(72.66)**
24      7          Net Profit after tax for the period/ year         1122.01
25      8               Other comprehensive income/(expense)             NaN
26     a)                     Equity instruments through OCI     (11,551.96)
27     b)  Remeasurement gains/(losses) on defined benefi...               -
28     c)  Tax relating to items that will not be reclass...         1656.54
29     d)  Share of other comprehensive income of associa...           36.81
30    NaN  **Other comprehensive income/(expense) for the...  **(9,858.61)**
31      9  **Total comprehensive income for the period/ y...  **(8,736.60)**
32    NaN                        **Profit attributable to:**             NaN
33    NaN                          **Owners of the Company**         1122.01
34    NaN                      **Non-controlling interests**               -
35    NaN                     **Profit/(Loss) for the year**    **1,122.01**
36    NaN    **Other comprehensive income attributable to:**             NaN
37    NaN                          **Owners of the Company**      (9,858.61)
38    NaN                      **Non-controlling interests**               -
39    NaN  **Total comprehensive income/(Loss) for the ye...  **(8,736.61)**
40    NaN    **Total comprehensive income attributable to:**             NaN
41    NaN                          **Owners of the Company**      (8,736.60)
42    NaN                      **Non-controlling interests**               -
43    NaN  **Total comprehensive income/(Loss) for the ye...  **(8,736.60)**
44     10  Paid up equity share capital (face value of â‚...         1694.79
45     11                                       Other Equity             NaN
46     12  Earning per share (EPS) of â‚¹ 1/- each (not a...             NaN
47    NaN                                (a) Basic & Diluted            0.66

       Unnamed: 3 Half year ended     Unnamed: 5     Year ended     Unnamed: 7
0       30-Jun-25       30-Sep-24      30-Sep-24      31-Mar-25            NaN
1       Unaudited       Unaudited      Unaudited      Unaudited            NaN
2             NaN             NaN            NaN            NaN            NaN
3         9971.54        20669.09       15324.63       32729.59       39022.82
4         4264.51         2709.13        5513.20        5988.50        7075.45
5   **14,235.85**   **23,378.22**  **20,837.83**  **37,818.09**  **46,098.27**
6             NaN             NaN            NaN            NaN            NaN
7           85.74           48.25         162.39         103.88         253.91
8         2053.42        15971.12        2055.52       21384.53       23340.01
9      (1,048.55)         (10.78)         (6.93)        (12.82)         (5.54)
10         821.54          915.38        1777.47        1688.67        3237.42
11         110.49          100.43         219.61         186.45         449.94
12        2330.54         1456.06        4972.84        2561.27        6722.64
13         308.29          194.36         780.40         951.06        1036.91
14         857.03          825.44        1786.43        1628.97        3557.47
15   **5,521.44**   **19,500.26**  **11,747.73**  **27,900.01**  **38,692.76**
16        8714.41         3877.96        9090.10        9918.08        7406.51
17          33.12            6.93          49.78          14.19          21.09
18        8747.53         3884.89        9139.88        9932.27        7426.60
19            NaN             NaN            NaN            NaN            NaN
20        1367.30          363.00        1319.53        1298.82         701.45
21        (51.99)          299.75       (735.88)         135.06         135.06
22              -               -              -              -        (21.03)
23   **1,315.31**      **662.75**     **585.65**   **1,555.16**     **815.48**
24        7432.22         3122.14        8554.23        7977.11        6611.12
25            NaN             NaN            NaN            NaN            NaN
26       25346.58        19490.45       13794.62       41077.14       44098.44
27              -               -              -              -         (4.60)
28     (4,886.95)      (3,227.50)     (3,230.41)     (6,177.07)     (6,560.87)
29         121.33           74.35         158.14          88.19        (61.66)
30  **20,580.96**   **16,337.30**  **10,722.35**  **34,988.26**  **37,471.31**
31  **28,013.18**   **19,555.44**  **19,276.58**  **42,965.37**  **44,082.43**
32            NaN             NaN            NaN            NaN            NaN
33        7432.22         3222.14        8554.23        7977.11        6611.12
34              -               -              -              -              -
35   **7,432.22**    **3,222.14**   **8,554.23**   **7,977.11**   **6,611.12**
36            NaN             NaN            NaN            NaN            NaN
37       20580.96        16337.30       10722.35       34988.26       37471.31
38              -               -              -              -              -
39  **20,580.96**   **16,337.30**  **10,722.35**  **34,988.26**  **37,471.31**
40            NaN             NaN            NaN            NaN            NaN
41       28013.18        19559.44       19276.58       42965.37       44082.43
42              -               -              -              -              -
43  **28,013.18**   **19,559.44**  **19,276.58**  **42,965.37**  **44,082.43**
44        1694.79         1694.79        1694.79        1694.79        1694.79
45            NaN             NaN            NaN            NaN            NaN
46            NaN             NaN            NaN            NaN            NaN
47           4.39            1.90           5.05           4.71           3.90

C:\Users\akela\AppData\Local\Temp\ipykernel_21692\2709481647.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(html)[0]